[submodule "flow/OpenROAD-flow-scripts"]
	path = tools/OpenROAD-flow-scripts
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
[submodule "tools/global_place/DG-RePlAce-AutoDMP"]
	path = tools/global_place/DG-RePlAce-AutoDMP
	url = git@github.com:ABKGroup/DG-RePlAce-AutoDMP.git
